* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 11pt;
}

main {
  position: relative;
}

#z_index_grid img {
  position: absolute;
  width: 1870px;
  top: 15px;
  left: 25px;
  z-index: 0;
}

#z_gallery_grid img {
  position: absolute;
  width: 1870px;
  top: 70px;
  left: 25px;
  z-index: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 4rem;
}
body .nav {
  display: flex;
  background-color: #0009AD;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 45px;
  align-items: center;
}
body .nav .lista ul {
  display: flex;
}
body .nav .lista ul li {
  margin-left: 100px;
  margin-right: 10px;
  list-style: none;
  padding: 5px;
}
body .nav .lista ul li a {
  font-size: 14pt;
  color: white;
  text-decoration: none;
}
body .nav .lista ul li:hover {
  margin-left: 96px;
  border: 2px;
  border-style: outset;
}
body .nav .lista ul .active {
  margin-left: 100px !important;
  border: 2px;
  border-style: outset;
}
body .nav .logo img {
  width: 100px;
}
@media (max-width: 600px) {
  body .nav {
    flex-direction: column-reverse;
  }
}
body .main {
  position: relative;
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 106px - 62px);
}
body .main .secMain {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1366px) {
  body .main .secMain {
    flex-direction: column;
    align-items: center;
  }
  body .main .secMain .img-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  body .main .secMain .img-izquierda .img1 {
    width: 420px;
    margin: 3px;
  }
  body .main .secMain .img-izquierda .img1:hover {
    margin: 0;
    width: 430px;
  }
  body .main .secMain .img-izquierda .img2 {
    width: 330px;
    margin: 4px;
    bottom: 0;
  }
  body .main .secMain .img-izquierda .img2:hover {
    width: 340px;
    margin: 0;
  }
  body .main .secMain .img-centro {
    display: flex;
  }
  body .main .secMain .img-centro .img3 {
    width: 320px;
    margin: 5px;
  }
  body .main .secMain .img-centro .img3:hover {
    width: 330px;
    margin: 0;
  }
  body .main .secMain .img-derecha {
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
  }
  body .main .secMain .img-derecha .img4 {
    width: 310px;
    margin: 5px;
  }
  body .main .secMain .img-derecha .img4:hover {
    width: 320px;
    margin: 0;
  }
  body .main .secMain .img-derecha .img5 {
    justify-self: flex-end;
    width: 420px;
    bottom: 0;
    margin: 2.5px;
  }
  body .main .secMain .img-derecha .img5:hover {
    margin: 0;
    width: 430px;
  }
}
@media (min-width: 1366px) {
  body .main .secMain {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  body .main .secMain .img-izquierda {
    margin-right: 20px;
    width: 420px;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  body .main .secMain .img-izquierda .img1 {
    width: 400px;
  }
  body .main .secMain .img-izquierda .img1:hover {
    width: 410px;
  }
  body .main .secMain .img-izquierda .img2 {
    margin: 20px 0 10px 50px;
    width: 300px;
    position: absolute;
    bottom: 0;
  }
  body .main .secMain .img-izquierda .img2:hover {
    width: 310px;
  }
  body .main .secMain .img-centro {
    display: flex;
    position: relative;
    width: 350px;
  }
  body .main .secMain .img-centro .img3 {
    position: absolute;
    bottom: 90px;
    width: 300px;
  }
  body .main .secMain .img-centro .img3:hover {
    width: 310px;
  }
  body .main .secMain .img-derecha {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 430px;
  }
  body .main .secMain .img-derecha .img4 {
    width: 280px;
    margin-top: 72px;
    margin-bottom: 30px;
  }
  body .main .secMain .img-derecha .img4:hover {
    width: 290px;
    margin-bottom: 20px;
  }
  body .main .secMain .img-derecha .img5 {
    justify-self: flex-end;
    width: 400px;
    margin-bottom: 5px;
    bottom: 0;
  }
  body .main .secMain .img-derecha .img5:hover {
    margin: 0;
    width: 410px;
  }
}
@media (min-width: 1920px) {
  body .main .secMain {
    flex-direction: row;
    justify-content: space-between;
  }
  body .main .secMain .img-izquierda {
    margin-right: 20px;
    width: 690px;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  body .main .secMain .img-izquierda .img1 {
    width: 650px;
  }
  body .main .secMain .img-izquierda .img1:hover {
    width: 640px;
  }
  body .main .secMain .img-izquierda .img2 {
    margin: 50px 0 0px 180px;
    width: 450px;
    position: absolute;
    bottom: 0;
  }
  body .main .secMain .img-izquierda .img2:hover {
    width: 440px;
  }
  body .main .secMain .img-centro {
    display: flex;
    position: relative;
    width: 550px;
  }
  body .main .secMain .img-centro .img3 {
    position: absolute;
    bottom: 90px;
    width: 450px;
  }
  body .main .secMain .img-centro .img3:hover {
    width: 440px;
  }
  body .main .secMain .img-derecha {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 590px;
  }
  body .main .secMain .img-derecha .img4 {
    width: 380px;
    margin-top: 72px;
    margin-bottom: 20px;
  }
  body .main .secMain .img-derecha .img4:hover {
    width: 370px;
    margin-bottom: 30px;
  }
  body .main .secMain .img-derecha .img5 {
    justify-self: flex-end;
    width: 590px;
    margin-bottom: 0px;
    bottom: 0;
  }
  body .main .secMain .img-derecha .img5:hover {
    margin-bottom: 4.5px;
    width: 580px;
  }
}
@media (max-width: 600px) {
  body .main .secMain {
    flex-direction: column;
    align-items: center;
  }
  body .main .secMain .img-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  body .main .secMain .img-izquierda .img1 {
    width: 250px;
    margin: 2.8px;
  }
  body .main .secMain .img-izquierda .img1:hover {
    margin: 0;
    width: 260px;
  }
  body .main .secMain .img-izquierda .img2 {
    width: 250px;
    margin: 3.5px;
    bottom: 0;
  }
  body .main .secMain .img-izquierda .img2:hover {
    width: 260px;
    margin: 0;
  }
  body .main .secMain .img-centro {
    display: flex;
  }
  body .main .secMain .img-centro .img3 {
    width: 250px;
    margin: 5px;
  }
  body .main .secMain .img-centro .img3:hover {
    width: 260px;
    margin: 0;
  }
  body .main .secMain .img-derecha {
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
  }
  body .main .secMain .img-derecha .img4 {
    width: 250px;
    margin: 5px;
  }
  body .main .secMain .img-derecha .img4:hover {
    width: 260px;
    margin: 0;
  }
  body .main .secMain .img-derecha .img5 {
    justify-self: flex-end;
    width: 250px;
    bottom: 0;
    margin: 2.5px;
  }
  body .main .secMain .img-derecha .img5:hover {
    margin: 0;
    width: 260px;
  }
}
body .mainContact {
  display: flex;
  align-content: center;
  padding-left: 100px;
}
body .mainContact .secMainContact {
  min-height: calc(100vh - 106px - 62px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 40px;
}
body .mainContact .secMainContact a {
  font-size: 16pt;
  margin-left: 70px;
  z-index: 1;
  text-decoration: none;
  margin-top: 33px;
  margin-bottom: 20px;
}
body .mainContact .secMainContact a:hover {
  text-decoration: underline;
}
body .mainAbout {
  display: flex;
  align-content: center;
  padding-left: 100px;
}
body .mainAbout .secMainAbout {
  min-height: calc(100vh - 106px - 62px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .mainAbout .secMainAbout h1 {
  font-size: 16pt;
  margin-left: 111px;
  z-index: 1;
  font-weight: 500;
  margin-top: 10px;
}
@media (min-width: 1800px) {
  body .volverVideo {
    display: flex;
    align-items: center;
    width: 1400px;
    justify-content: space-around;
    position: relative;
  }
  body .volverVideo img {
    width: 125px;
    height: 125px;
    position: absolute;
    left: -15px;
    bottom: 60px;
    top: 108px;
  }
  body .volverVideo .video {
    width: 820px;
    height: 500px;
  }
}
@media (max-width: 1800px) {
  body #z_gallery_grid {
    display: none;
  }
  body .mainGal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 64px);
  }
  body .mainGal1 .img {
    display: flex;
  }
  body .mainGal1 .img img {
    width: 600px;
    margin-bottom: 60px;
  }
  body .mainGal1 .volverVideo {
    display: flex;
    align-items: center;
    width: 1400px;
    justify-content: space-around;
    position: relative;
  }
  body .mainGal1 .volverVideo img {
    width: 125px;
    height: 125px;
    position: absolute;
    left: -15px;
    bottom: 60px;
    top: 108px;
  }
  body .mainGal1 .volverVideo .video {
    width: 820px;
    height: 500px;
  }
}
@media (min-width: 1000px) {
  body .mainGal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 64px);
  }
  body .mainGal1 .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal1 .img img {
    width: 467px;
    margin-bottom: 72px;
  }
  body .mainGal1 .volverVideo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  body .mainGal1 .volverVideo img {
    width: 125px;
    height: 125px;
  }
  body .mainGal1 .volverVideo .video {
    width: 720px;
    height: 405px;
  }
}
@media (max-width: 1000px) {
  body #z_gallery_grid {
    display: none;
  }
  body .mainGal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 64px);
  }
  body .mainGal1 .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .mainGal1 .img img {
    width: 350px;
    margin-bottom: 60px;
  }
  body .mainGal1 .volverVideo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  body .mainGal1 .volverVideo img {
    margin: 50px;
    width: 125px;
    height: 125px;
  }
  body .mainGal1 .volverVideo .video {
    width: 540px;
    height: 305px;
  }
}
@media (max-width: 725px) {
  body #z_gallery_grid {
    display: none;
  }
  body .mainGal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 64px);
  }
  body .mainGal1 .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .mainGal1 .img img {
    width: 250px;
    margin-bottom: 60px;
  }
  body .mainGal1 .volverVideo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: space-around;
    position: relative;
  }
  body .mainGal1 .volverVideo img {
    margin: 50px;
    width: 80px;
    height: 80px;
  }
  body .mainGal1 .volverVideo img:hover {
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
  }
  body .mainGal1 .volverVideo .video {
    width: 250px;
    height: 141px;
  }
}
@media (min-width: 915px) {
  body .mainGal2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal2 .sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec1 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec1 article img {
    width: 550px;
  }
  body .mainGal2 .sec2 {
    display: flex;
  }
  body .mainGal2 .sec2 .article1Sec2 {
    display: flex;
    flex-direction: column;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 img {
    width: 300px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #img7 {
    z-index: 1;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #img7 img {
    width: 125px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #nintendo1 img {
    width: 350px;
  }
  body .mainGal2 .sec2 .article2Sec2 {
    display: flex;
    width: 350px;
    align-items: end;
    justify-content: end;
  }
  body .mainGal2 .sec2 .article2Sec2 img {
    width: 300px;
  }
}
@media (min-width: 1500px) {
  body .mainGal2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal2 .sec1 {
    margin-top: 12px;
    display: flex;
  }
  body .mainGal2 .sec1 article {
    display: flex;
    align-items: flex-start;
  }
  body .mainGal2 .sec1 article img {
    width: 468px;
    height: 250px;
  }
  body .mainGal2 .sec1 article #tapa {
    height: 280px;
  }
  body .mainGal2 .sec2 {
    display: flex;
  }
  body .mainGal2 .sec2 .article1Sec2 {
    display: flex;
    flex-direction: column;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 {
    display: flex;
    width: 1050px;
    justify-content: center;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 img {
    width: 300px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #img7 img {
    width: 125px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #nintendo1 img {
    width: 350px;
  }
  body .mainGal2 .sec2 .article2Sec2 {
    display: flex;
    width: 350px;
    align-items: end;
    justify-content: end;
  }
  body .mainGal2 .sec2 .article2Sec2 img {
    width: 300px;
  }
}
@media (max-width: 915px) {
  body .mainGal2 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal2 .sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec1 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec1 article img {
    width: 250px;
  }
  body .mainGal2 .sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec2 .article1Sec2 {
    display: flex;
    flex-direction: column;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside1Sec2 img {
    width: 200px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #img7 a {
    z-index: 1;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #img7 img {
    width: 80px;
  }
  body .mainGal2 .sec2 .article1Sec2 .aside2Sec2 #nintendo1 img {
    width: 200px;
  }
  body .mainGal2 .sec2 .article2Sec2 {
    display: flex;
  }
  body .mainGal2 .sec2 .article2Sec2 img {
    width: 200px;
  }
}
@media (min-width: 1650px) {
  body .mainGal3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal3 .mainGal3Sec1 {
    display: flex;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  body .mainGal3 .mainGal3Sec1 img {
    width: 370px;
    margin-right: 100px;
  }
  body .mainGal3 .mainGal3Sec2 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal3 .mainGal3Sec2 .return {
    width: 900px;
  }
  body .mainGal3 .mainGal3Sec2 .return img {
    position: absolute;
    left: 430px;
    bottom: 85px;
    width: 125px;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo {
    display: flex;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo img {
    width: 370px;
    margin-right: 100px;
  }
}
@media (max-width: 1650px) {
  body .mainGal3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal3 .mainGal3Sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }
  body .mainGal3 .mainGal3Sec1 img {
    width: 350px;
    margin: 30px;
  }
  body .mainGal3 .mainGal3Sec2 {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal3 .mainGal3Sec2 .return {
    display: flex;
    justify-content: center;
  }
  body .mainGal3 .mainGal3Sec2 .return img {
    width: 125px;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo img {
    width: 350px;
    margin: 30px;
  }
}
@media (max-width: 750px) {
  body .mainGal3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal3 .mainGal3Sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
  }
  body .mainGal3 .mainGal3Sec1 img {
    width: 250px;
    margin: 30px;
  }
  body .mainGal3 .mainGal3Sec2 {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal3 .mainGal3Sec2 .return {
    display: flex;
    justify-content: center;
  }
  body .mainGal3 .mainGal3Sec2 .return img {
    width: 80px;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal3 .mainGal3Sec2 .img-abajo img {
    width: 250px;
    margin: 30px;
  }
}
@media (min-width: 1920px) {
  body .mainGal5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal5 .mainGal5Sec1 {
    display: flex;
    width: 1900px;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  body .mainGal5 .mainGal5Sec1 img {
    width: 300px;
  }
  body .mainGal5 .mainGal5Sec1 .imgAncha {
    width: 590px;
  }
  body .mainGal5 .mainGal5Sec2 {
    width: 1900px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal5 .mainGal5Sec2 .return {
    width: 400px;
  }
  body .mainGal5 .mainGal5Sec2 .return img {
    position: absolute;
    left: 430px;
    bottom: 85px;
    width: 125px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo {
    width: 1200px;
    display: flex;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .imgLarga {
    margin: 0 50px;
    width: 250px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .banner {
    margin: 0 50px;
    width: 355.5px;
  }
}
@media (max-width: 1920px) {
  body .mainGal5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal5 .mainGal5Sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 37px;
  }
  body .mainGal5 .mainGal5Sec1 img {
    width: 250px;
    margin: 10px;
  }
  body .mainGal5 .mainGal5Sec1 .imgAncha {
    width: 590px;
  }
  body .mainGal5 .mainGal5Sec2 {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal5 .mainGal5Sec2 .return {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  body .mainGal5 .mainGal5Sec2 .return img {
    width: 125px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo img {
    margin: 10px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .imgLarga {
    width: 250px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .banner {
    width: 355.5px;
  }
}
@media (max-width: 680px) {
  body .mainGal5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
  }
  body .mainGal5 .mainGal5Sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  body .mainGal5 .mainGal5Sec1 img {
    width: 250px;
    margin: 10px;
  }
  body .mainGal5 .mainGal5Sec1 .imgAncha {
    width: 250px;
  }
  body .mainGal5 .mainGal5Sec2 {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
    justify-content: space-evenly;
  }
  body .mainGal5 .mainGal5Sec2 .return {
    width: 200px;
    display: flex;
    justify-content: center;
  }
  body .mainGal5 .mainGal5Sec2 .return img {
    width: 80px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo img {
    margin: 10px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .imgLarga {
    width: 200px;
  }
  body .mainGal5 .mainGal5Sec2 .img-abajoo .banner {
    width: 250px;
  }
}
body footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0009AD;
  color: white;
  padding: 17px;
}/*# sourceMappingURL=style.css.map */