*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 11pt;
}
main{
    position: relative;
}
#z_index_grid{
    img{
        position: absolute;
        width: 1870px;
        top: 15px;
        left: 25px;
        z-index: 0;
    }
    
}
#z_gallery_grid{
    img{
        position: absolute;
        width: 1870px;
        top: 70px;
        left: 25px;
        z-index: 0;
    }
    
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 4rem;

    .nav{
        display: flex;
        background-color: #0009AD;
        font-weight: 700;
        justify-content: space-between;
        padding: 0 45px;
        align-items: center;

        .lista{

            ul{
                display: flex;

                li{
                    margin-left: 100px;
                    margin-right: 10px;
                    list-style: none;
                    padding: 5px;
                    
                    a{
                        font-size: 14pt;
                        color: white;
                        text-decoration: none;
                        
                    }
                    &:hover{
                        margin-left: 96px;
                        border: 2px;
                        border-style: outset;
                    }
                }
                .active{
                    margin-left: 100px !important;
                    border: 2px;
                    border-style: outset;
                }
                
            }
        }
        .logo{
            img{
                width: 100px;
            }
        }
    }
    @media (max-width: 600px){
        .nav{
            flex-direction: column-reverse;
        }
    }
    .main{
        
        position: relative;
        padding: 15px;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 106px - 62px);

        

        .secMain{
            
            display: flex;
            justify-content: space-between;

            
            

            @media (max-width:1366px) {
                flex-direction: column;
                align-items: center;
                .img-izquierda{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .img1{
                        width: 420px;
                        margin: 3px;
                        // margin-bottom: 100px;
                        &:hover{
                            margin: 0;
                            width: 430px;
                        }
                    }
                    .img2{
                        width: 330px;
                        margin: 4px;
                        bottom: 0;
    
                        &:hover{
                            width: 340px;
                            margin: 0;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;

                    .img3{
                        width: 320px;
                        margin: 5px;
                        &:hover{
                            width: 330px;
                            margin: 0;
                        }
                    }
                }
                .img-derecha{
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    display: flex;
                    .img4{
                        width: 310px;
                        margin: 5px;
                        &:hover{
                            width: 320px;
                            margin: 0;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 420px;
                        bottom: 0;
                        margin: 2.5px;
                        &:hover{
                            margin: 0;
                            width: 430px;
                        }
                    }
                }
                
            }

            @media (min-width:1366px) {
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                .img-izquierda{
                    margin-right: 20px;
                    width: 420px;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    .img1{
                        width: 400px;
                        // margin-bottom: 100px;
                        &:hover{
                            width: 410px;
                        }
                    }
                    .img2{
                        margin: 20px 0 10px 50px;
                        width: 300px;
                        position: absolute;
                        bottom: 0;
    
                        &:hover{
                            width: 310px;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;
                    position: relative;
                    width:350px;
                    .img3{
                        position: absolute;
                        bottom: 90px;
                        width: 300px;
                        &:hover{
                            width: 310px;
                        }
                    }
                }
                .img-derecha{
                    margin-left: 20px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width:430px;
                    .img4{
                        width: 280px;
                        margin-top: 72px;
                        margin-bottom: 30px;
                        &:hover{
                            width: 290px;
                            margin-bottom: 20px;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 400px;
                        margin-bottom: 5px;
                        bottom: 0;
                        &:hover{
                            margin: 0;
                            width: 410px;
                        }
                    }
                }
                
            }

            @media (min-width:1920px) {
                flex-direction: row;
                justify-content: space-between;
                .img-izquierda{
                    margin-right: 20px;
                    width: 690px;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    .img1{
                        width: 650px;
                        // margin-bottom: 100px;
                        &:hover{
                            width: 640px;
                        }
                    }
                    .img2{
                        margin: 50px 0 0px 180px;
                        width: 450px;
                        position: absolute;
                        bottom: 0;
    
                        &:hover{
                            width: 440px;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;
                    position: relative;
                    width:550px;
                    .img3{
                        position: absolute;
                        bottom: 90px;
                        width: 450px;
                        &:hover{
                            width: 440px;
                        }
                    }
                }
                .img-derecha{
                    margin-left: 20px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width:590px;
                    .img4{
                        width: 380px;
                        margin-top: 72px;
                        margin-bottom: 20px;
                        &:hover{
                            width: 370px;
                            margin-bottom: 30px;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 590px;
                        margin-bottom: 0px;
                        bottom: 0;
                        &:hover{
                            margin-bottom: 4.5px;
                            width: 580px;
                        }
                    }
                }
                
            }
            @media (max-width:600px) {
                flex-direction: column;
                align-items: center;
                .img-izquierda{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .img1{
                        width: 250px;
                        margin: 2.8px;
                        // margin-bottom: 100px;
                        &:hover{
                            margin: 0;
                            width: 260px;
                        }
                    }
                    .img2{
                        width: 250px;
                        margin: 3.5px;
                        bottom: 0;
    
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;

                    .img3{
                        width: 250px;
                        margin: 5px;
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
                    }
                }
                .img-derecha{
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    display: flex;
                    .img4{
                        width: 250px;
                        margin: 5px;
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 250px;
                        bottom: 0;
                        margin: 2.5px;
                        &:hover{
                            margin: 0;
                            width: 260px;
                        }
                    }
                }
                
            }

            
            
        }

        

        
    }
    .mainContact{
        display: flex;
        align-content: center;
        padding-left: 100px;
        .secMainContact{
            min-height: calc(100vh - 106px - 62px);
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 40px;
            a{
                font-size: 16pt;
                margin-left: 70px;
                z-index: 1;
                text-decoration: none;
                margin-top: 33px;
                margin-bottom: 20px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .mainAbout{
        display: flex;
        align-content: center;
        padding-left: 100px;
        .secMainAbout{
            min-height: calc(100vh - 106px - 62px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            
            h1{
                font-size: 16pt;
                margin-left: 111px;
                z-index: 1;
                font-weight: 500;
                margin-top: 10px;
                
                
            }
        }
    }

// Galería 1
    @media (min-width: 1800px){
        .volverVideo{
            display: flex;
            align-items: center;
            width: 1400px;
            justify-content: space-around;
            position: relative;
            img{
                width: 125px;
                height: 125px;
                position: absolute;
                left: -15px;
                top: 185px;
                

            }
            .video{
                width: 820px;
                height: 500px;
            }
        }
            

    }
    @media (max-width: 1800px){
        #z_gallery_grid{
            display: none;
        }
        
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
    
                img{
                    width: 600px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                align-items: center;
                width: 1400px;
                justify-content: space-around;
                position: relative;
                flex-wrap: wrap;
                img{
                    width: 125px;
                    height: 125px;
                   
                    
    
                }
                .video{
                    width: 820px;
                    height: 500px;
                }
            }
        }
    }
    @media (min-width: 1000px){
        
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
    
                img{
                    width: 467px;
                    margin-bottom: 72px;
                }
            }
            .volverVideo{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                img{
                    
                    width: 125px;
                    height: 125px;
                }
                .video{
                    width: 720px;
                    height: 405px;
                }
            }
        }
    }
    @media (max-width: 1000px){
        #z_gallery_grid{
            display: none;
        }
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 350px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                img{
                    margin: 50px;
                    width: 125px;
                    height: 125px;
                }
                .video{
                    width: 540px;
                    height: 305px;
                }
            }
        }
    }
    @media (max-width: 725px){
        #z_gallery_grid{
            display: none;
        }
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 250px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: space-around;
                position: relative;
                img{
                    margin: 50px;
                    width: 80px;
                    height: 80px;
                    &:hover{
                        width: 90px;
                        height: 90px;
                        margin-bottom: 40px;
                    }
                }
                .video{
                    width: 250px;
                    height: 141px;
                }
            }
        }
    }
    

// Galería 2
    @media (min-width: 915px){
        
        .mainGal2{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                article{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 550px;
                    }
                }
            }
            .sec2{
                display: flex;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        img{
                            width: 300px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
    
                        #img7{
                            z-index: 1;
                            img{
                                width: 125px;
                            }
                        }
                        #nintendo1{
                            img{
                                width: 350px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    display: flex;
                    width: 350px;
                    align-items: end;
                    justify-content: end;
                    img{
                        width: 300px;
    
                    }
                }
            }
        }
    }
    @media (min-width: 1500px){
        .mainGal2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                margin-top: 12px;
                display: flex;
                article{
                    display: flex;
                    align-items: flex-start;
                    img{
                        width: 468px;
                        height: 250px;
                    }
                    #tapa{
                        height: 280px;
                    }
                }
            }
            .sec2{
                display: flex;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        display: flex;
                        width: 1050px;
                        justify-content: center;
                        img{
                            width: 300px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
    
                        #img7{
                            img{
                                width: 125px;
                            }
                        }
                        #nintendo1{
                            img{
                                width: 350px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    display: flex;
                    width: 350px;
                    align-items: end;
                    justify-content: end;
                    img{
                        width: 300px;
    
                    }
                }
            }
        }
    }
    @media (max-width: 915px){
        .mainGal2{
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                article{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 250px;
                    }
                }
            }
            .sec2{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        img{
                            width: 200px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-evenly;
    
                        #img7{
                            a{
                                z-index: 1;
                            }
                            img{
                                width: 80px;
                            }
                        }
                        #nintendo1{
                            img{
                                width: 200px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    display: flex;
                    img{
                        width: 200px;
    
                    }
                }
            }
        }
    }
    

// Galería 3
    @media (min-width: 1650px) {
        .mainGal3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                display: flex;
                padding: 5px;
                padding-bottom: 20px ;
                margin-top: 25px;
                margin-bottom: 10px;
                img{

                    width: 370px;
                    margin-right: 100px;
                }
            }
    
            .mainGal3Sec2{
                display: flex;
                position: relative;
                justify-content: space-evenly;
                .return{
                    width: 900px;
                    img{
                        position: absolute;
                        left: 430px;
                        bottom: 85px;
                        width: 125px;
                    }
                }
                .img-abajo{
                    display: flex;
                    img{
                        width: 370px;
                        margin-right: 100px;
                    }
                }
            }
        }
    }
    @media (max-width: 1650px) {
        .mainGal3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px;
                img{
                    width: 350px;
                    margin: 30px;
                }
            }
    
            .mainGal3Sec2{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                justify-content: space-evenly;
                .return{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 125px;
                    }
                }
                .img-abajo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 350px;
                        margin: 30px;
                    }
                }
            }
        }
    }
    @media (max-width: 750px) {
        .mainGal3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px;
                img{
                    width: 250px;
                    margin: 30px;
                }
            }
    
            .mainGal3Sec2{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                justify-content: space-evenly;
                .return{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 80px;
                    }
                }
                .img-abajo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 250px;
                        margin: 30px;
                    }
                }
            }
        }
    }
    

    @media (min-width:1920px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal5Sec1{
                display: flex;
                width: 1900px;
                justify-content: space-around;
                margin-bottom: 50px;
                img{
                    width: 300px;
                }
                .imgAncha{
                    width: 590px;
                }
            }
            .mainGal5Sec2{
                width: 1900px;
                display: flex;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 400px;
                    img{
                        position: absolute;
                        left: 430px;
                        bottom: 85px;
                        width: 125px;
                    }
                }
    
                .img-abajoo{
                    width: 1200px;
                    display: flex;
                    .imgLarga{
                        margin: 0 50px;
                        width: 250px;
                    }
                    .banner{
                        margin: 0 50px;
                        width: 355.5px;
                    }
                }
    
            }
        }
    }
    @media (max-width:1920px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal5Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 22px;
                margin-bottom: 37px;
                img{
                    width: 250px;
                    margin: 10px;
                }
                .imgAncha{

                    width: 590px;
                }
            }
            .mainGal5Sec2{
                display: flex;
                flex-wrap: wrap-reverse;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 400px;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 125px;
                    }
                }
    
                .img-abajoo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        margin: 10px;
                    }
                    .imgLarga{
                        width: 250px;
                    }
                    .banner{
                        width: 355.5px;
                    }
                }
    
            }
        }
    }
    @media (max-width:680px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal5Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 50px;
                img{
                    width: 250px;
                    margin: 10px;
                }
                .imgAncha{

                    width: 250px;
                }
            }
            .mainGal5Sec2{
                display: flex;
                flex-wrap: wrap-reverse;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 80px;
                    }
                }
    
                .img-abajoo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        margin: 10px;
                    }
                    .imgLarga{
                        width: 200px;
                    }
                    .banner{
                        width: 250px;
                    }
                }
    
            }
        }
    }
    

    footer{
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0009AD;
        color: white;
        padding: 17px;
    }
}
