*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 11pt;
}
main{
    position: relative;
}
#z_index_grid{
    img{
        position: absolute;
        width: 1870px;
        height: 760px;
        top: 18px;
        left: 18px;
        z-index: 0;
    }
    
}
#z_gallery_grid{
    img{
        position: absolute;
        width: 1870px;
        height: 900px;
        top: 28px;
        left: 25px;
        z-index: 0;
    }
    
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 4rem;

    .nav{
        display: flex;
        background-color: #0009AD;
        font-weight: 700;
        justify-content: space-between;
        padding: 0 45px;
        align-items: center;

        .lista{

            ul{
                display: flex;

                li{
                    margin-left: 100px;
                    margin-right: 0;
                    list-style: none;
                    padding: 8px;
                    
                    a{
                        font-size: 14pt;
                        color: white;
                        text-decoration: none;
                        
                    }
                    &:hover{
                        margin-left: 96px;
                        border: 2px;
                        border-style: solid;
                        border-color: white;
                        box-shadow: none;
                    }
                }
                .active{
                    margin-left: 100px !important;
                    border: 2px;
                    border-style: solid;
                    border-color: white;
                }
                
            }
        }
        .logo{
            img{
                width: 100px;
            }
        }
    }
    @media (max-width: 600px){
        .nav{
            flex-direction: column-reverse;
        }
    }
    .main{
        
        position: relative;
        padding: 15px;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 106px - 62px);

        

        .secMain{
            
            display: flex;
            justify-content: space-between;

            
            

            @media (max-width:1366px) {
                flex-direction: column;
                align-items: center;
                .img-izquierda{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .img1{
                        width: 420px;
                        margin: 3px;
                        // margin-bottom: 100px;
                        &:hover{
                            margin: 0;
                            width: 430px;
                        }
                    }
                    .img2{
                        width: 330px;
                        margin: 4px;
                        bottom: 0;
    
                        &:hover{
                            width: 340px;
                            margin: 0;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;

                    .img3{
                        width: 320px;
                        margin: 5px;
                        &:hover{
                            width: 330px;
                            margin: 0;
                        }
                    }
                }
                .img-derecha{
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    display: flex;
                    .img4{
                        width: 310px;
                        margin: 5px;
                        &:hover{
                            width: 320px;
                            margin: 0;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 420px;
                        bottom: 0;
                        margin: 2.5px;
                        &:hover{
                            margin: 0;
                            width: 430px;
                        }
                    }
                }
                
            }

            @media (min-width:1366px) {
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                .img-izquierda{
                    margin-right: 20px;
                    width: 420px;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    .img1{
                        width: 400px;
                        // margin-bottom: 100px;
                        &:hover{
                            width: 410px;
                        }
                    }
                    .img2{
                        margin: 20px 0 10px 50px;
                        width: 300px;
                        position: absolute;
                        bottom: 0;
    
                        &:hover{
                            width: 310px;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;
                    position: relative;
                    width:350px;
                    .img3{
                        position: absolute;
                        bottom: 90px;
                        width: 300px;
                        &:hover{
                            width: 310px;
                        }
                    }
                }
                .img-derecha{
                    margin-left: 20px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width:430px;
                    .img4{
                        width: 280px;
                        margin-top: 72px;
                        margin-bottom: 30px;
                        &:hover{
                            width: 290px;
                            margin-bottom: 20px;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 400px;
                        margin-bottom: 5px;
                        bottom: 0;
                        &:hover{
                            margin: 0;
                            width: 410px;
                        }
                    }
                }
                
            }

            @media (min-width:1920px) {
                position: absolute;
                top: 7px;
                left: -20px;
                flex-direction: row;
                position: relative;
                justify-content: space-between;
                .img-izquierda{
                    margin-right: 20px;
                    width: 690px;
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    .img1{
                        position: absolute;
                        top: -384px;
                        width: 676px;
                        left: 9px;
                        // margin-bottom: 100px;
                        &:hover{
                            width: 650px;
                        }
                    }
                    .img2{
                        width: 450px;
                        position: absolute;
                        top: 35px;
                        right: 80px;
    
                        &:hover{
                            width: 440px;
                            top: 42px;
                        }
        
                    }
                }
                .img-centro{
                    position: absolute;
                    bottom: 380px;
                    left: 8px;
                    display: flex;
                    position: relative;
                    width:550px;
                    .img3{
                        position: absolute;
                        right: 55px;
                        top:222px;
                        width: 457px;
                        &:hover{
                            width: 450px;
                            right: 62px
                        }
                    }
                }
                .img-derecha{
                    position: absolute;
                    left: 37px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width:580px;
                    .img4{
                        position: absolute;
                        top: -380px;
                        width: 380px;
                        margin-top: 72px;
                        margin-bottom: 20px;
                        &:hover{
                            width: 370px;
                            margin-bottom: 30px;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 560px;
                        position: absolute;
                        bottom: -375px;
                        margin-bottom: 0px;
                        margin-top: 12px;
                        &:hover{
                            margin-top: 16px;
                            width: 550px;
                        }
                    }
                }
                
            }
            @media (max-width:600px) {
                flex-direction: column;
                align-items: center;
                .img-izquierda{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .img1{
                        width: 250px;
                        margin: 2.8px;
                        // margin-bottom: 100px;
                        &:hover{
                            margin: 0;
                            width: 260px;
                        }
                    }
                    .img2{
                        width: 250px;
                        margin: 3.5px;
                        bottom: 0;
    
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
        
                    }
                }
                .img-centro{
                    display: flex;

                    .img3{
                        width: 250px;
                        margin: 5px;
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
                    }
                }
                .img-derecha{
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    display: flex;
                    .img4{
                        width: 250px;
                        margin: 5px;
                        &:hover{
                            width: 260px;
                            margin: 0;
                        }
                    } 
                    .img5{
                        justify-self: flex-end;
                        width: 250px;
                        bottom: 0;
                        margin: 2.5px;
                        &:hover{
                            margin: 0;
                            width: 260px;
                        }
                    }
                }
                
            }

            
            
        }

        

        
    }
    .mainContact{
        display: flex;
        align-content: center;
        padding-left: 100px;
        position: relative;
        .secMainContact{
            min-height: calc(100vh - 106px - 62px);
            
            .enlaces{
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 40px;
                position: absolute;
                left: 163px;
                top: 382px;
                a{
                    font-size: 16pt;
                    z-index: 1;
                    text-decoration: none;
                    margin-top: 32px;
                    margin-bottom: 19px;
                    &:hover{
                        text-decoration: underline;
                    }
                }

            }
           
        }
    }
    .mainAbout{
        display: flex;
        align-content: center;
        padding-left: 100px;
        position: relative;
        .secMainAbout{
            min-height: calc(100vh - 106px - 62px);
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            
            .textos{
                position: absolute;
                top: 75px;
                h1{
                    font-size: 16pt;
                    margin-left: 103px;
                    z-index: 1;
                    font-weight: 500;
                    margin-bottom: 65px;
                    
                    
                }
                .texto2{
                    margin-top: 152px;
                }
            }
            
        }
    }

// Galería 1
    @media (min-width: 1800px){
        .volverVideo{
            display: flex;
            align-items: center;
            width: 1400px;
            justify-content: space-around;
            position: relative;
            img{
                width: 170px;
                height: 170px;
                position: absolute;
                left: -40px;
                top: 163px;

                &:hover{
                    width: 150px;
                    height: 150px;
                    left: -36px;
                    top: 168px;
                }
                

            }
            .video{
                width: 820px;
                height: 500px;
            }
        }
            

    }
    @media (max-width: 1800px){
        #z_gallery_grid{
            display: none;
        }
        
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
    
                img{
                    width: 600px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                align-items: center;
                width: 1400px;
                justify-content: space-around;
                position: relative;
                flex-wrap: wrap;
                img{
                    width: 170px;
                    height: 170px;
                   
                    
    
                }
                .video{
                    width: 820px;
                    height: 500px;
                }
            }
        }
    }
    @media (min-width: 1000px){
        
        .mainGal1{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            position: relative;
            .img{
                top: 29px;
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
    
                img{
                    width: 467px;
                    height: 269px;
                    margin-bottom: 90px;
                }
            }
            .volverVideo{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                img{
                    position: absolute;
                    top: -54px;
                    left: -73px;
                    width: 240px;
                    height: 240px;
                    &:hover{
                        position: absolute;
                        top: -23px;
                        left: -40px;
                        width: 175px;
                        height: 175px;
                    }
                }
                .video{
                    position: absolute;
                    top: -206px;
                    right: 87px;
                    width: 800px;
                    height: 450px;
                }
            }
        }
    }
    @media (max-width: 1000px){
        #z_gallery_grid{
            display: none;
        }
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 350px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                img{
                    margin: 50px;
                    width: 125px;
                    height: 125px;
                }
                .video{
                    width: 540px;
                    height: 305px;
                }
            }
        }
    }
    @media (max-width: 725px){
        #z_gallery_grid{
            display: none;
        }
        .mainGal1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: calc(100vh - 64px);
            .img{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    width: 250px;
                    margin-bottom: 60px;
                }
            }
            .volverVideo{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: space-around;
                position: relative;
                img{
                    margin: 50px;
                    width: 80px;
                    height: 80px;
                    &:hover{
                        width: 90px;
                        height: 90px;
                        margin-bottom: 40px;
                    }
                }
                .video{
                    width: 250px;
                    height: 141px;
                }
            }
        }
    }
    

// Galería 2
    @media (min-width: 915px){
        
        .mainGal2{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                article{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 550px;
                        
                    }
                }
            }
            .sec2{
                display: flex;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        img{
                            width: 300px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
    
                        #img7{
                            z-index: 1;
                            img{
                                width: 170px;
                            }
                        }
                        #nintendo1{
                            img{
                                width: 350px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    display: flex;
                    width: 350px;
                    align-items: end;
                    justify-content: end;
                    img{
                        width: 300px;
    
                    }
                }
            }
        }
    }
    @media (min-width: 1500px){
        position: relative;
        .mainGal2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                position: absolute;
                top: 29px;
                left: 25px;
                margin-top: 0;
                display: flex;
                article{
                    display: flex;
                    align-items: flex-start;
                    img{
                        width: 458px;
                        height: 260px;
                    }
                    #tapa{
                        margin-left: 38px;
                        height: 300px;
                    }
                }
            }
            .sec2{
                display: flex;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        position: absolute;

                        top: 290px;
                        left: 100px;
                        display: flex;
                        width: 1250px;
                        justify-content: center;
                        img{
                            width: 320px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        position: relative;
    
                        #img7{
                            position: absolute;
                            right: 773px;
                            top: 93px;

                            img{
                                position: absolute;
                                width: 240px;
                                &:hover{
                                    top: 30px;
                                    left: 30px;
                                    width: 180px;
                                }
                            }
                        }
                        #nintendo1{
                            position: absolute;
                            top: 98px;
                            left: -70px;
                            img{
                                width: 450px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    position: absolute;
                    right: 25px;
                    bottom: 30px;
                    display: flex;
                    width: 320px;
                    align-items: end;
                    justify-content: end;
                    img{
                        width: 320px;
    
                    }
                }
            }
        }
    }
    @media (max-width: 915px){
        .mainGal2{
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                article{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 250px;
                    }
                }
            }
            .sec2{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .article1Sec2{
                    display: flex;
                    flex-direction: column;
                    .aside1Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        img{
                            width: 200px;
                        }
                    }
                    .aside2Sec2{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-evenly;
    
                        #img7{
                            a{
                                z-index: 1;
                            }
                            img{
                                width: 80px;
                            }
                        }
                        #nintendo1{
                            img{
                                width: 200px;
                            }
                        }
                    }
                }
                .article2Sec2{
                    display: flex;
                    img{
                        width: 200px;
    
                    }
                }
            }
        }
    }
    

// Galería 3
    @media (min-width: 1650px) {
        
        .mainGal3{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                position: absolute;
                top:0;
                left: 20px;
                display: flex;
                padding: 5px;
                padding-bottom: 10px ;
                margin-top: 23px;
                margin-bottom: 13px;
                img{
                    z-index: -1;
                    width: 420px;
                    margin-right: 180px;
                }
                
            }
    
            .mainGal3Sec2{
                position: absolute;
                top: 235px;
                display: flex;
                position: relative;
                justify-content: space-evenly;
                .return{
                    width: 850px;
                    img{
                        position: absolute;
                        left: 162px;
                        bottom: 112px;
                        width: 240px;
                        &:hover{
                            left: 193.5px;
                            bottom: 145px;
                            width: 175px;
                        }
                    }
                }
                .img-abajo{
                    z-index: -1;
                    display: flex;
                    
                    img{
                        width: 420px;
                        margin-right: 180px;
                    }
                    .img5{
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
    @media (max-width: 1650px) {
        .mainGal3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px;
                img{
                    width: 350px;
                    margin: 30px;
                }
            }
    
            .mainGal3Sec2{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                justify-content: space-evenly;
                .return{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 125px;
                    }
                }
                .img-abajo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 350px;
                        margin: 30px;
                    }
                }
            }
        }
    }
    @media (max-width: 750px) {
        .mainGal3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal3Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 50px;
                img{
                    width: 250px;
                    margin: 30px;
                }
            }
    
            .mainGal3Sec2{
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                justify-content: space-evenly;
                .return{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 80px;
                    }
                }
                .img-abajo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 250px;
                        margin: 30px;
                    }
                }
            }
        }
    }
    

    @media (min-width:1920px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal5Sec1{
                display: flex;
                width: 1900px;
                justify-content: space-around;
                margin-bottom: 50px;
                img{
                    width: 300px;
                }
                .imgAncha{
                    width: 590px;
                }
            }
            .mainGal5Sec2{
                width: 1900px;
                display: flex;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 400px;
                    img{
                        position: absolute;
                        left: 430px;
                        bottom: 85px;
                        width: 125px;
                    }
                }
    
                .img-abajoo{
                    z-index: -1;
                    width: 1200px;
                    display: flex;
                    .imgLarga{
                        margin: 0 50px;
                        width: 250px;
                    }
                    .banner{
                        margin: 0 50px;
                        width: 355.5px;
                    }
                }
    
            }
        }
    }
    @media (max-width:1920px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
            position: relative;
    
            .mainGal5Sec1{
                position: absolute;
                top: 28px;
                left: 2px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 0px;
                margin-bottom: 75px;
                img{
                    z-index: -1;
                    width: 250px;
                    margin-left: 15px;
                }
                .imgAncha{

                    width: 795px;
                }
            }
            .mainGal5Sec2{
                display: flex;
                flex-wrap: wrap-reverse;
                position: absolute;
                bottom: -187px;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 400px;
                    display: flex;
                    justify-content: center;
                    img{
                        position: absolute;
                        left: 177px;
                        top: -94px;
                        width: 240px;
                        &:hover{
                            left: 210px;
                            top: -62px;
                            width: 175px; 
                        }
                    }
                }
    
                .img-abajoo{
                    position: absolute;
                    top: -200px;
                    right: 150px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        margin: 10px;
                    }
                    .imgLarga{
                        width: 250px;
                    }
                    .banner{
                        width: 355.5px;
                    }
                }
    
            }
        }
    }
    @media (max-width:680px){
        .mainGal5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 64px);
    
            .mainGal5Sec1{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 50px;
                img{
                    width: 250px;
                    margin: 10px;
                }
                .imgAncha{

                    width: 250px;
                }
            }
            .mainGal5Sec2{
                display: flex;
                flex-wrap: wrap-reverse;
                position: relative;
                justify-content: space-evenly;
    
                .return{
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 80px;
                    }
                }
    
                .img-abajoo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        margin: 10px;
                    }
                    .imgLarga{
                        width: 200px;
                    }
                    .banner{
                        width: 250px;
                    }
                }
    
            }
        }
    }
    

    footer{
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0009AD;
        color: white;
        padding: 17px;
    }
}
